.status-message{
    font-size: small;
    color: brown;
    text-align: left;
    padding-left: 12px;
}

/* Slide show styling */
.slideShow{
    max-width: 250px;
    padding: 20px 20px 20px 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.exampleInputSlide{
    width: 100%;
    border-radius: 25px;
}

/* Location styling */
.location-header{
    margin-top: 5px;
}

#location_pin{
    width: 45px;
}

#location-modal-content{
    background-color: ivory;
}

#location-map{
    width: 100%;
    min-height: 250px;
}