
#title{
  background-color: #f4f5db;
}


.navbar-brand{
  font-family: 'Lobster', cursive;
  font-size: 4rem !important;
  color: #335d2d;
  margin: 1% 15% 1%;
}

.navbar-brand:hover{
  font-family: 'Lobster', cursive;
  font-size: 4rem !important;
  color: #335d2d;
}

.navbar-nav{
  margin-left: 60%;
}

.nav-link{
  color: #335d2d;
  opacity: 0.8;
  margin-right: 5%;
  font-size: 1.1rem;
}

.nav-link:hover{
  color: #335d2d;
  opacity: 1;
}

.box{
  height: 70vh;
  display: flex;
  align-items: center;
  transition: width 2s, background-color 0.5s ease-out;
}

/* Active box color*/
.activeBox{
  width: 70%;
  background-color: #f4f5db;
}

/* Suggestion page inital attributes*/
.doneBox{
  width: 15%;
  background-color: #335d2d;
}

.undoneBox{
  width: 15%;
  background-color: #f8dc81;
}

.foundings{
  text-align: center;
}
/* Footer styling */
/* color names */
:root {
  --footer-done-color:#335d2d;
  --footer-undone-color:#f8dc81;
  --footer-active-color: #f4f5db;
  --footer-active-text-color: darkgreen;
  --footer-undone-text-color:gray;
  --footer-done-text-color:white;

  --footer-height: 50px;

  --footer-active-width:70%;
  --footer-undone-width:15%;
  --footer-done-width:15%;
}

.undone-step, .done-step, .current-step{
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-content:center;
  height:var(--footer-height);
  transition: width 2s, background-color 0.5s ease-out;
}

.undone-step{
  background-color: var(--footer-undone-color);
  color: var(--footer-undone-text-color);
  width:var(--footer-undone-width);
}

.done-step{
  background-color: var(--footer-done-color);
  color: var(--footer-done-text-color);
  width:var(--footer-done-width);
}

.current-step{
  background-color: var(--footer-active-color);
  color: var(--footer-active-text-color);
  font-weight: bold;
  width:var(--footer-active-width);
}

.done-step p, .undone-step p, .current-step p{
  margin:auto 10px auto 0px;
  padding:auto 10px auto 10px;
}

.circle{
  border-style:solid;
  border-width:3px;

  align-content:baseline;
  justify-items:center;

  border-radius:50%;
  height:40px;
  width:40px;
  padding-top:6px;
}
