
#title{
  background-color: #f4f5db;
}


.navbar-brand{
  font-family: 'Lobster', cursive;
  font-size: 4rem !important;
  color: #335d2d;
  margin: 1% 15% 1%;
}

.navbar-brand:hover{
  font-family: 'Lobster', cursive;
  font-size: 4rem !important;
  color: #335d2d;
}

.navbar-nav{
  margin-left: 60%;
}

.nav-link{
  color: #335d2d;
  opacity: 0.8;
  margin-right: 5%;
  font-size: 1.1rem;
}

.nav-link:hover{
  color: #335d2d;
  opacity: 1;
}

.box{
  height: 70vh;
  transition: width 2s, background-color 0.5s ease-out;
}

/* Welcoming page inital attributes*/
.left{
  width: 70%;
  background-color: #f4f5db;
}

/* Suggestion page inital attributes*/
.mid{
  width: 15%;
  background-color: #f8dc81;
}

/* Ordering page inital attributes*/
.right{
  width: 15%;
  background-color: #f8dc81;
}
