/* Modelling after #39 "Rich and Powerful"
https://visme.co/blog/website-color-schemes/
 */
 :root {
  --done-color:#335d2d;
  --undone-color:#f8dc81;
  --active-color: #f4f5db;

  --active-text-color: darkgreen;
  --undone-text-color:gray;
  --done-text-color:white;

  --footer-height: 50px;

  --active-width:70%;
  --undone-width:15%;
  --done-width:15%;
}

#title{
  background-color: var(--active-color);
}

html,body { height:100%; }

.navbar-brand{
  font-family: 'Lobster', cursive;
  font-size: 4rem !important;
  color: var(--done-color);
  margin: 1% 15% 1%;
}

.navbar-brand:hover{
  font-family: 'Lobster', cursive;
  font-size: 4rem !important;
  color: var(--done-color);
}

.navbar-nav{
  margin-left: 60%;
}

.nav-link{
  color: var(--done-color);
  opacity: 0.8;
  margin-right: 5%;
  font-size: 1.1rem;
}

.nav-link:hover{
  color: var(--done-color);
  opacity: 1;
}

.box{
  height: 80vh;
  display: flex;
  align-items: center;
  transition: width 2s, background-color 0.5s ease-out;
  text-align:center;
  justify-content:center;
}

.row{
  display:flex;
  align-items:center;
}

/* Active box color*/
.activeBox{
  width: var(--active-width);
  background-color: var(--active-color);
}

/* Suggestion page inital attributes*/
.doneBox{
  width: var(--done-width);
  background-color: var(--done-color);
}

.undoneBox{
  width: var(--undone-width);
  background-color: var(--undone-color);
}

.foundings{
  text-align: center;
}

/* Footer styling */
/* color names */

.undone-step, .done-step, .current-step{
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-content:center;
  height:var(--footer-height);
  transition: width 2s, background-color 0.5s ease-out;
}

.undone-step{
  background-color: var(--undone-color);
  color: var(--undone-text-color);
  width:var(--undone-width);
}

.done-step{
  background-color: var(--done-color);
  color: var(--done-text-color);
  width:var(--done-width);
}

.current-step{
  background-color: var(--active-color);
  color: var(--active-text-color);
  font-weight: bold;
  width:var(--active-width);
}

.done-step p, .undone-step p, .current-step p{
  margin:auto 10px auto 0px;
  padding:auto 10px auto 10px;
}

.circle{
  border-style:solid;
  border-width:3px;

  align-content:baseline;
  justify-items:center;

  border-radius:50%;
  height:40px;
  width:40px;
  padding-top:6px;
}
