body {
    font-family: Arial, Helvetica, sans-serif;
}

iframe {
    width: 450px;
    height: 300px;
    border: 0;
}

.search-bar {
    padding: 10px 0 10px 0;
    width: 440px;
}

#location-input {
    width: 100%;
}